<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Classroom teacher-student</title>
	<style>
		
	</style>
</head>
<body>
	<a href="teacher.html">Teacher</a><br>
	<a href="student.html">Student</a>
</body>
</html>