
 <%- include('partials/main') %> 

 <body>
  <div class="jumbotron centered">
    <div class="container">
      <!--<i class="fas fa-key fa-6x"></i>-->
      <h1 class="display-3">ClassRoom</h1>
      <div class="hello">
      <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    </div>
    </div>
    </div>
  </body>


<%- include('partials/footer') %>
