<%- include('partials/otp') %> 

<div class="container mt-5">
	<h2>OTP</h2>
  
	<div class="row">
	  <div class="col-sm-8">
		<div class="card">
		  <div class="card-body">
  
			<!-- Makes POST request to /login route -->
			<form action="/otp" method="POST">
			  <div class="form-group">
				<label for="otp">Enter  OTP</label>
				<input type="otp" class="form-control" name="OTP">
			  </div>
			  <button type="submit" class="btn btn-dark">Enter</button>
			</form>
  
		  </div>
		</div>
	  </div>
  
	  
  
	</div>
  </div>
  
  <%- include('partials/footer') %>
  