<%- include('partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
	<div class="container">
		<div class="class1">
			<br>
			<h1>Register</h1>
			<form action="\register" method="post">
				<div class="registration-box">
					
					<div class="firstname">
						<p>	First Name </p>
				<label for="loginemail"></label>
				<input type="text" name="fname" class="inputline" ></label>
			</div><br>

			<div class="lastname">
				<p>Last Name</p>
				<input type="text" name="lname" class="inputline">
			</div><br>
			
			<div class="emailadd">
				<p>Email ID</p>
				<label for="loginemail"></label>
				<input type="text" name="email" class="inputline">
			</div><br>
			
			<div class="password1">
				<p>Password</p>
				<label for="loginpassword"></label>
				<input type="password" name="password" class="inputline">
			</div><br>
			<div class="enter">
				<div class="enter1">
					<a href="/login"><h4>Enter</h4></a>
				</form>
			</div>
		</div>
		</div>
		</div>
	</div>
</body>
</html>
<%- include('partials/header') %>
