<%- include('partials/header') %>
<!DOCTYPE html>
<html>

</html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<input type="text" id="takinginput">
</body>
<script>
	let trgt=document.getElementById("takinginput");
	document.write("<br>");
	document.write(target.value);
</script>
</html>
<%- include('partials/header') %>
